/* ---------------------------- */
/* ----- TimeLine Section ----- */
/* ---------------------------- */

.section-education{
    display: flex;
    height: fit-content(100%);
    /*background-color: rgb(56, 56, 56);*/
    padding: 50px 50px;
}


.timeline-list{
    max-width: 100em;
    padding: 2%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-list::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 95%;
    /* background-color:rgb(80, 80, 80); */
    background-color:white;
    left: calc(50% - 3px);
    border-radius: 10px;
    opacity: 0.4;
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative; /*To then adjust the dot's position to the item*/
}

.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
    text-align: left;
}

.timeline-item-dot{
    height: 24px;
    width: 24px;
    background-color: rgb(254,67,55);
    /* background-image: linear-gradient(to top,rgb(254,67,55),rgb(80, 80, 80)); */
    background-image: linear-gradient(to top,rgb(145, 145, 145),rgb(80, 80, 80));
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 12px);
    top: -2px;
}

.timeline-item-date{
    font-size: 2.5rem;
    color: rgb(80, 80, 80);
    margin: -8px 0 5px; /*top right and left*/
    font-weight:1000;

    background-image: linear-gradient(to top,rgb(49, 49, 49),rgb(117, 117, 117));
    background-size: 100%;
    -webkit-background-clip: text; /* makes linear gradient on text */
    -webkit-text-fill-color: transparent; /* /makes linear gradient on text*/
}

.timeline-item-content{
    /* background-color: rgb(65, 65, 65); */
    background: rgba(255, 255, 255,0.2);
    backdrop-filter: blur(40px);
    box-shadow: 0 5px 30px rgba(65, 65, 65, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.timeline-item-content h3{
    font-size: 1.4rem;
    /* color: rgb(253, 249, 243); */
    color: rgb(77, 77, 77);
    margin: 0 0 15px;
}

.timeline-item-content p{
    font-size: 1.3rem;
    /* color: rgb(243, 232, 217); */
    color: rgb(77, 77, 77);
}

@media screen and (max-width:768px){
    .timeline-item:nth-child(odd){
        padding-right: 0;
        padding-left: 0;
        text-align: center;
    }

    .timeline-item:nth-child(even){
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .timeline-list::before{
        left: 50%;
        z-index: 0;
    }

    .timeline-item-dot{
        left: calc(50% - 10px);
        position: absolute;
    }

    .timeline-item-date{
        margin-left: 4em;
    }

    .timeline-item-content h3{
        font-size: 1.1rem;
    }
    
    .timeline-item-content p{
        font-size: 1rem;
    }
}