*{
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
    /* font-family:Arial, Helvetica, sans-serif; */
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.main-div{
    /*background-image: url("images/background.jpg");*/
    /* background-color: rgb(255, 255, 255); */
    background-position: center;
    background-size: contain;
    height: 100%;
}

/*---------------------------*/
/*------ NavBar section -----*/
/*---------------------------*/

nav{
    /*position: -webkit-sticky;*/
    position: -webkit-sticky;
    position: sticky;
    z-index:999;
    left:0; top: 0; width: 100%;
}

.navbar{
    background: rgba(77, 77, 77,0.9);
    display: flex;
    justify-content: space-around;
    text-align: center;

    height: 6rem;
    align-items: center;
    font-size: 2rem;
    border-radius: 0 0 2vh 2vh;
}



.logo{
    background-color: blueviolet;
    background-image: linear-gradient(to top,rgb(254,67,55),rgb(255,189,237));
    background-size: 100%;
    -webkit-background-clip: text; /* makes linear gradient on text*/
    -webkit-text-fill-color: transparent; /* /makes linear gradient on text*/
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    flex: 2;
}

.nav_linkS{
    display: flex;
    width: 50%;
    max-width: 60%;
}

.navbar_link{
    color: rgb(243, 232, 217);
    text-decoration: none;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content(100%);
    padding: 0.2em;
    height: 3rem;
    font-size: 1.2rem;
    transition: all 0.3s ease; /* add both on original object and on hover to create an smoother effect*/
}

.navbar_link:hover{
    color: rgb(222, 163, 236);
    transition: all 0.3s ease; /* add both on original object and on hover to create an smoother effect*/
}

.burguer {
    display: none;
    cursor: pointer;
}

.burguer div{
    width: 25px;
    height: 2px;
    background-color: rgb(243, 232, 217);
    margin-top: 5px;
}

.burguer-line1, .burguer-line2, .burguer-line3{
    transition: 0.4s;
}

/* Rotate first bar */
.change .burguer-line1 {
    -webkit-transform: rotate(-45deg) translate(0px, 10px) ;
    transform: rotate(-45deg) translate(0px, 10px) ;
}

/* Fade out the second bar */
.change .burguer-line2 {
    opacity: 0;
}

/* Rotate last bar */
.change .burguer-line3 {
    -webkit-transform: rotate(45deg) translate(0px, -10px)  ;
    transform: rotate(45deg) translate(0px, -10px) ;
}

@media screen and (max-width:768px){
    body,html{
        overflow-x: hidden;
    }
    nav{
        /*position: -webkit-sticky;*/
        position: -webkit-sticky;
        position: sticky;
        z-index:999;
        left:0; top: 0; width: 100vw;
    }

    .logo{
        font-size: 2.5rem;
        z-index: 5000;
    }
    .nav_linkS{
        background: rgb(77, 77, 77);
        position: absolute;
        right: 0px;
        height: 15rem;
        top: 4.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 500;
        border-radius: 10px;
    }
    .navbar_link{
        right: 0px;
        display: flex;
        opacity: 0;
        justify-content: center;
    }

    .burguer{
        display: block;
        flex: 0.5;
    }

}

.nav-active{
    transform: translateX(0%);
    visibility: visible;
}

.nav-link-active{
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(222, 163, 236);
    text-decoration: none;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/*---------------------------*/
/*----- Footer section ------*/
/*---------------------------*/


.footer{
    background-color:rgba(77, 77, 77,0.9);
    display: flex;
    height: 4em ;
    width: 100%;
    color:rgb(243, 232, 217);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 2vh 2vh 0 0;
    text-align: center;
}



.footer-row{
    width: 100%;
    margin: auto;
    display: flex;
}

.footer-row h4{
    position: relative;

    font-size: 2em;
    display: inline-block;
    text-decoration: none;
    flex: 1;

    background-image: linear-gradient(to top,rgb(254,67,55),rgb(255,189,237));
    background-size: 100%;
    -webkit-background-clip: text; /* makes linear gradient on text*/
    -webkit-text-fill-color: transparent; /* /makes linear gradient on text*/
}


.footer-row h4::after{ /*Underline of Contacts*/
    content: "";
    position: absolute;
    display: inline-block;
    top: 110%;
    left: 50%;
    width: 2em;
    height: 0.1em;
    background-color: rgb(243, 232, 217);
    transition: 0.5s ease;
    border-radius: 5px;
}

.footer-row h4:hover::after{ /*Move underline on hover*/
    transform: translateX(3.5rem);
}

.footer-row .social-links{
    flex: 1;
}
.footer-row .social-links a{
    display: inline-block;
    background-color: rgb(65, 65, 65);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    color: rgb(243, 232, 217);
    align-items: center;
    /* text-align: center;  */
}
.footer-row .social-links a i{
    margin-top: 10px;
}

.footer-row .social-links a:hover{
    background-color: rgb(139, 139, 139);
    border-radius: 50%;
    width: 40px;
}

@media screen and (max-width:768px){
    .footer{
        height: 5em;
    }

    .footer h4{
        font-size: 2.1em;
    }

    .footer-row .social-links{
        flex: 3;
    }

    .footer-row .social-links a{
        width: 2em;
        height: 2em;
    }

    .footer-row .social-links a:hover{
        width: 2em;
        height: 2em;
    }
}

/* --------------------------- */
/* ----- Central Section ----- */
/* --------------------------- */

.main-section{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: fit-content(100%);
    margin-top: 2em;
    margin-bottom: 2em;
    /*background-color:rgba(152, 175, 216, 0.2);*/
}

.profile-pic{
    /*background: rgb(24, 24, 24);*/
    align-items: center;
    margin: 0 15px;
}
.profile-pic img{
    max-height: 20em;

    -webkit-border-radius: 50%; /* Mask for profile image */
    border-radius: 50%;
}

.main-section-container{
    justify-content: left;
    display: flex;
    margin: 150px 0px;
}
.main-section-container-text{
    /* background: rgb(255,189,237); */
    background: rgba(255, 255, 255,0.2);
    backdrop-filter: blur(40px);
    padding: 1em;
    height:max-content;
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(65, 65, 65, 0.1);
    text-align: center;
    margin: 0 15px;
    color: rgb(87, 87, 87);
}

@media screen and (max-width:768px){
    .main-section{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .profile-pic{
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items:flex-start;
    }

    .profile-pic img{
        max-height: 12em;
    }

    .main-section-container{
        display: flex;
        margin: 20px auto;
        justify-content: center;
        width: 70%;
    }
    .main-section-container-text{
        width: 90%;
        padding: 2%;
    }
}


/*-------------------------------*/
/*------ Background section -----*/
/*-------------------------------*/
/* ---------- Animation --------*/

.animation-canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: white;
    /* background-image: linear-gradient(to top,rgba(254,67,55,0.8),rgba(255,189,237,0.7)); */
    background-image: linear-gradient(to top,rgba(175, 83, 76, 0.8),rgba(209, 169, 199, 0.7));
}

