*{
  color: rgb(46, 45, 49);;
}

/* -------------- NavBar Section ----------------  */
.nav-bar{
    height: fit-content;
    width: 100%;
    padding: 15px;
    display: flex;
    background-color: rgb(46, 45, 49);
    /* background-color: black; */
    /* background-image: linear-gradient(to top,rgba(134,92,152,0.5),rgba(142,203,157,0.5)); */
    justify-content: space-around;
    align-items: center;
    color: white;
}

.nav-bar h1{
  color: white;
}

.code-btn{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 120%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.code-btn i {
    font-size: 20px;
}

.nav-bar a {
    text-decoration: none;
    margin-right: 30px;
}

/* -------------- Main Section ----------------  */

/* ----- Introduction ------ */

.introduction{
  display: flex;
  margin: 20px;
  padding: 20px;
  flex-direction: column;
  /* background-color: rgba(133, 132, 132,0.5); */
  background-image: linear-gradient(to top,rgba(134,92,152,0.5),rgba(142,203,157,0.5));
  border-radius: 25px;
}
/* .introduction h1{
  margin-top: 10px;
  margin-left: 50px; 
} */
.introduction p{
  max-width: 90%;
  margin: 10px;
  margin-left: 20px;
}
.introduction ul{
  margin-left: 50px;
  max-width: 80%;
}

.introduction li{
  margin-top:10px;  
}

/* ----- Main Hero ------ */

.main-hero{
    /* height: fit-content; */
    width: 100%;
    display: flex;
    background-color: white;
    
}
.var-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-section{
    flex: 2;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:768px){
  .main-hero{
    flex-direction: column;
  }
}

/* -------------- Slider Section ----------------  */

.slideContainer{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 10px;
    border-radius: 5px;
    border: solid 2px darkgray;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    /* background: #5a87ac; */
    background: rgb(46, 45, 49);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    /* background: #7482a0; */
    background: rgb(46, 45, 49);
    cursor: pointer;
  }

  .btn-refresh{
    display: flex;
    background-color: rgba(46, 45, 49,0.6);
    height: 50px;
    border-radius: 5px;
    width: 200px;
    color: white;
    justify-content: center;
    align-items: center;  
    /* border: solid 2px rgb(69, 87, 126); */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .btn-refresh h3{
    color:white;
  }

  .btn-refresh:hover{
    cursor: pointer;
    background-color: rgb(46, 45, 49);
  }

  /* ------------------ Legend Section-------------------- */

  .legend{
    display: flex;
    flex-direction: column;
    background-color:  rgba(46, 45, 49,0.5);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 60%;
  }
  .GridCell_legend{
    display: flex;
    flex-direction: row;
    align-content:space-around ;
    align-items: center ;
    width: 100%;
  }
  .GridCell_legend p{
    color: white;
    font-weight: 600;
  }

  #square-1{
    width: 50px;
    height: 50px;
    background-color: rgb(142,203,157);
    border: solid rgb(46, 45, 49) 2px;
    margin: 20px;
  }
  #square-2{
    width: 50px;
    height: 50px;
    background-color: rgb(134,92,152);
    border: solid rgb(46, 45, 49) 2px;
    margin: 20px;
  }
  #square-empty{
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid rgb(46, 45, 49) 2px;
    margin: 20px;
  }

