*{
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/*-------------------------------*/
/*------ Background section -----*/
/*-------------------------------*/

.main-div{
    background-image: url("images/background.jpg");
    background-position: center;
    background-size: contain;
    height: 100%;
}

/*---------------------------*/
/*------ NavBar section -----*/
/*---------------------------*/

nav{
    /*position: -webkit-sticky;*/
    position: -webkit-sticky;
    position: sticky;
    z-index:999;
    left:0; top: 0; width: 100%;
}

.navbar{
    background: rgb(77, 77, 77);
    display: flex;
    justify-content: space-around;
    text-align: center;

    height: 6rem;
    align-items: center;
    font-size: 2rem;
    border-radius: 0 0 2vh 2vh;
}



.logo{
    background-color: blueviolet;
    background-image: linear-gradient(to top,rgb(254,67,55),rgb(255,189,237));
    background-size: 100%;
    -webkit-background-clip: text; /* makes linear gradient on text*/
    -webkit-text-fill-color: transparent; /* /makes linear gradient on text*/
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    flex: 2;
}

.nav_linkS{
    display: flex;
    width: 50%;
    max-width: 60%;
}

.navbar_link{
    color: rgb(243, 232, 217);
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: left;
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    transition: all 0.3s ease; /* add both on original object and on hover to create an smoother effect*/
}

.navbar_link:hover{
    color: rgb(230, 130, 255);
    transition: all 0.3s ease; /* add both on original object and on hover to create an smoother effect*/
}

.burguer {
    display: none;
    cursor: pointer;
}

.burguer div{
    width: 25px;
    height: 2px;
    background-color: rgb(243, 232, 217);
    margin: 5px;
}

.burguer-line1, .burguer-line2, .burguer-line3{
    transition: 0.4s;
}

/* Rotate first bar */
.change .burguer-line1 {
    -webkit-transform: rotate(-45deg) translate(0px, 9px) ;
    transform: rotate(-45deg) translate(0px, 9px) ; 
}

/* Fade out the second bar */
.change .burguer-line2 {
    opacity: 0;
}

/* Rotate last bar */
.change .burguer-line3 {
    -webkit-transform: rotate(45deg) translate(0px, -9px)  ;
    transform: rotate(45deg) translate(0px, -9px) ; 
}

@media screen and (max-width:768px){
    body,html{
        overflow-x: hidden;
    }
    .logo{
        font-size: 2.5rem;
        z-index: 5000;
    }
    .nav_linkS{
        background: rgb(77, 77, 77);
        position: absolute;
        right: 0px;
        height: 15rem;
        top: 4.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 500;
    } 
    .navbar_link{
        right: 0px;
        display: flex;
        opacity: 0;
        justify-content: center;
    }

    .burguer{
        display: block;
        flex: 0.5;
    }
     
}

.nav-active{
    transform: translateX(0%);  
    visibility: visible; 
}

.nav-link-active{
    font-weight: bold;
    font-size: large;
    color: rgb(243, 232, 217);
    text-decoration: none;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/*---------------------------*/
/*----- Footer section ------*/
/*---------------------------*/


.footer{
    background-color:rgb(77, 77, 77);
    display: flex;
    height: 4em ;
    width: 100%;
    color:rgb(243, 232, 217);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 2vh 2vh 0 0;
    text-align: center;

    /*position: absolute;
    bottom: 0;*/
}



.footer-row{
    width: 100%;
    margin: auto;
    display: flex;
}

.footer-row h4{
    position: relative;

    font-size: 2em;
    display: inline-block;
    text-decoration: none;
    flex: 1;

    background-image: linear-gradient(to top,rgb(254,67,55),rgb(255,189,237));
    background-size: 100%;
    -webkit-background-clip: text; /* makes linear gradient on text*/
    -webkit-text-fill-color: transparent; /* /makes linear gradient on text*/
}


.footer-row h4::after{ /*Underline of Contacts*/
    content: "";
    position: absolute;
    display: inline-block;
    top: 110%;
    left: 50%;
    width: 2em;
    height: 0.1em;
    background-color: rgb(243, 232, 217);
    transition: 0.5s ease;
    border-radius: 5px;
}

.footer-row h4:hover::after{ /*Move underline on hover*/
    transform: translateX(3.5rem);
}

.footer-row .social-links{
    flex: 1;
}
.footer-row .social-links a{
    display: inline-block;
    background-color: rgb(65, 65, 65);
    border-radius: 50%;
    width: 40px;
    color: rgb(243, 232, 217);
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
}

.footer-row .social-links a:hover{
    background-color: rgb(139, 139, 139);
    border-radius: 50%;
    width: 40px;
}

@media screen and (max-width:768px){
    .footer{
        height: 5em;
    }

    .footer h4{
        font-size: 2.1em;
    }

    .footer-row .social-links a{
        width: 2em;
        line-height: 2em;
    }

    .footer-row .social-links a:hover{
        width: 2em;
    }
}

/* --------------------------- */
/* ----- Central Section ----- */
/* --------------------------- */

.main-section{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: 2em;
    margin-bottom: 2em;
    /*background-color:rgba(152, 175, 216, 0.2);*/
}

.profile-pic{
    /*background: rgb(24, 24, 24);*/
    align-items: center;
    margin: 0 15px;
}
.profile-pic img{
    max-height: 20em;

    -webkit-border-radius: 50%; /* Mask for profile image */
    border-radius: 50%; 
}

.main-section-container{
    /*background: rgb(117, 117, 117);*/
    justify-content: left;
    display: flex;
    margin: 150px 0px;
}
.main-section-container-text{
    background: rgb(255,189,237);
    padding: 20px;
    height:max-content;
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(65, 65, 65, 0.3);
    text-align: center;
    margin: 0 15px;
}

@media screen and (max-width:768px){
    .main-section{
        height: auto;
        display: flex;
        flex-direction: column;
    } 
    .profile-pic{
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items:flex-start;
    }

    .profile-pic img{
        max-height: 12em;
    }

    .main-section-container{
        display: flex;
        margin: 20px auto;
        justify-content: center;
        width: 70%;
    }
    .main-section-container-text{
        width: 90%;
        padding: 2%;
    }
}


.section-education{
    display: flex;
    height: 100vh;
    background-color: cadetblue;
}